body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(red));
  background-image: -webkit-linear-gradient(top, orange, red);
  background-image: -moz-linear-gradient(top, orange, red);
  background-image: linear-gradient(to bottom, orange, red);
}

h1 {
  color: yellow;
}
